services:
  app:
    build: ./app
    container_name: flask-app
    ports:
      - "5000:5000"

  nginx:
    build: ./nginx
    container_name: nginx-server
    ports:
      - "80:80"
    depends_on:
      - app

  agent:
    build: ./devops_ai_agent
    container_name: devops-ai-agent
    stdin_open: true
    tty: true
    volumes:
      - ./devops_ai_agent/logs:/agent/logs

